html {
	overflow-x: hidden;
	height: 100%;
}

body {
	background-color: black;
	margin: 20px;
}

.video-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 5px;
	justify-items: center;
}

.localVideo {
	width: 100%;
	max-width: 200px;
}

.remoteVideo {
	width: 100%;
	max-width: 200px;
}

.text-container {
	width: calc(100% - 5px);
	margin-top: 20px;
}

.text-container textarea {
	width: 100%;
	height: 100px;
}